@import "tailwindcss";

:root {
    --jade: #1FA574;
    --jade-light: #44B98E;

    --butterscotch: #FDB147;
    --butterscotch-light: #FDC16F;

    --mercury-dark: #E5E5E5;
    --mercury: #F0F0F0;
    --mercury-light: #F6F6F6;
    --mercury-lighter: #FFFFFF;

    --gray-dark: #191A1A;
    --gray: #1C1D1D;
    --gray-light: #232424;
    --gray-lighter: #2C2D2D;

    --primary: var(--jade);
    --primary-light: var(--jade-light);
    
    --secondary: var(--butterscotch);
    --secondary-light: var(--butterscotch-light);

    --neutral-dark: var(--mercury-dark);
    --neutral: var(--mercury);
    --neutral-light: var(--mercury-light);
    --neutral-lighter: var(--mercury-lighter);

    --tertiary: var(--gray-dark);
    --tertiary-light: var(--mercury-light);

    @media (prefers-color-scheme: dark) {
        --neutral-dark: var(--gray-dark);
        --neutral: var(--gray);
        --neutral-light: var(--gray-light);
        --neutral-lighter: var(--gray-lighter);

        --tertiary: var(--mercury-light);
    }
}

@theme {
  --color-*: initial;

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);

  --color-neutral-dark: var(--neutral-dark);
  --color-neutral: var(--neutral);
  --color-neutral-light: var(--neutral-light);
  --color-neutral-lighter: var(--neutral-lighter);

  --color-tertiary: var(--tertiary);
  --color-tertiary-light: var(--tertiary-light);

  --font-sans: "Sora";
}

@layer base {
    * {
        color: var(--color-tertiary)
    }

    button {
      text-align: start;
    }

    ::-webkit-scrollbar {
      width: calc(var(--spacing) * 2);
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-corner {
      opacity: 0;
    }

    ::-webkit-resizer {
      opacity: 0;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: var(--spacing); 
      background: var(--neutral-light);
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--neutral-lighter);
    }
}
