@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

:root {
  --primary-1-color: #52B69A;
  --primary-2-color: #76C893;
  --secondary-1-color: #FFB235;
  --secondary-2-color: #FCCB83;
  --neutral-1-color: #F2F7F6;
  --neutral-2-color: #E9F1EF;
  --neutral-3-color: #DFEAE7;
  --text-1-color: #001313;
  --text-2-color: #FCFDFD;
  
  @media (prefers-color-scheme: dark) {
    --neutral-1-color: #232424;
    --neutral-2-color: #1C1D1D;
    --neutral-3-color: #191A1A;
    --text-1-color: #E4EBEB;
    --text-2-color: #FCFDFD;
  }
}
